body{
    margin: 0;
    background-color:#3e3e3e
}

#menu {
    background-color:#2b2b2b;
    padding: 20px;
    margin: 0px;
} 

#menu th a{
    color:yellow;
    text-decoration: none;
    font-family: 'Sniglet', arial, cursive;
    font-size: 14px;
}
    
#menu th a:hover{
    text-decoration: underline;      
}

#caixa-busca{
    border-radius: 40px;
    font-style: unset;
    color: white;
    background-color: #3e3e3e;
}
    
#lupa-busca{
    float: center;
    background-color: transparent;
    padding-left:5px;
    font-size:18px;
    border: none;
    height: 15px;
    width: 15px;
} 

.Caixa-Busca{
   position: relative;
  
}

.Caixa-Busca img {
   position: absolute;
   right: 70px;
   top: 3px;
   cursor: pointer; 
}


